@page "/DetailTache/{id:int?}"

<h3>DetailTache</h3>

@if (IdTache != null)
{
    <ul>
        <li>ID: @Tache.IdTache</li>
        <li>Nom: @Tache.NomTache</li>
        <li>Statut: @Tache.Statut</li>
        <li>Priorité: @Tache.PrioriteTaches</li>
        <li>Récurrence: @Tache.Recurrence</li>
        <li>Description: @Tache.Description</li>
        <li>Date de Création: @Tache.DateCreation</li>
        <li>Date d'Échéance: @Tache.DateEcheance</li>
        <li>Utilisateurs assignés: @Tache.Users</li>
    </ul>
}
else
{
    <p>La tâche correspondante n'a pas été trouvée.</p>
}