@page "/DetailTache/{IdTache:int}"
@inject NavigationManager Navigation

<h3>Detail Tache</h3>
@{
    if (IdTache != null)
    {
        <ul>
            <li>ID: @Tache.IdTache</li>
            <li>Nom: @Tache.NomTache</li>
            <li>Statut: @Tache.Statut</li>
            <li>Priorité: @Tache.PrioriteTaches</li>
            <li>Récurrence: @Tache.Recurrence</li>
            <li>Description: @Tache.Description</li>
            <li>Date de Création: @Tache.DateCreation</li>
            <li>Date d'Échéance: @Tache.DateEcheance</li>

            @if (Tache.Users != null && Tache.Users.Any())
            {
                <li>Utilisateurs assignés: @string.Join(", ", Tache.Users.Select(user => user.Nom))</li>
            }
            else
            {
                <li>Aucun utilisateur n'est assigné</li>
                <button @onclick="() => Assign(t)">Trouver un Rangeur</button>
                // <button @onclick="@(() => Navigation.NavigateTo($"/AssignerRangeur/{Tache.IdTache}"))">Trouver un Rangeur</button>

            }
        </ul>
    }
    else
    {
        <p>La tâche correspondante n'a pas été trouvée.</p>
    }
}
