@page "/DetailTache/{IdTache:int}"

<h3>Detail Tache</h3>
        <ul>
            <li>ID: @Tache.IdTache</li>
            <li>Nom: @Tache.NomTache</li>
            <li>Statut: @Tache.Statut</li>
            <li>Priorité: @Tache.PrioriteTaches</li>
            <li>Récurrence: @Tache.Recurrence</li>
            <li>Description: @Tache.Description</li>
            <li>Date de Création: @Tache.DateCreation</li>
            <li>Date d'Échéance: @Tache.DateEcheance</li>

        @foreach (var user in Tache.Users)
        {
            @if (Tache.Users != null)
            {
            <li>Des Rangeurs y travaillent : 
                @user.Nom</li>
        
            }
            else
            {
                <li>Aucun utilisateur n'est assigné</li>

            }
        }
            <button @onclick="() => Assign(Tache)">Trouver un Rangeur</button>
        </ul>
