@page "/Tache"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using PowerRangeurAPI.API.DTOs.Tache
@using PowerRangeurAPI.Domain.Models
@using PowerRangeurWEB.Dialogs

@inject NavigationManager Navigation

@* <MessageBox>
    <TitleContent>la page des taches</TitleContent>
    <ChildContent>
    <p style=" color:brown">Il y a du boulot! </p>
    </ChildContent>
</MessageBox> *@

<h3>Tache</h3>
<button class="btn btn-info">
    <NavLink href="CreationTache">Créer une Tâche</NavLink>
</button>

<div class="taches row gap-3">
    <div class="TachesLibres col-md col-12 card d-flex flex-column gap-2">
        @foreach(TacheGet t in TachesLibres)
        {
            <div class="bg-info">
                @t.NomTache
                <button @onclick="@(() => Navigation.NavigateTo($"/DetailTache/{t.IdTache}"))">Détail</button>
                <button @onclick="() => Assign(t)">Assigner</button>
            </div>
        }
    </div>
    <div class="TachesEncours col-md col-12 card">
        @foreach (TacheGet t in TachesEnCours)
        {
            <div class="bg-danger">
                @t.NomTache
                <button class="btn btn-info" type="button" @onclick="@(() => Navigation.NavigateTo($"/DetailTache/{t.IdTache}"))">Détail</button>
                <button @onclick="() => Assign(t)">Assigner</button>
            </div>
        }
    </div>
    <div class="TachesTerminees col-md col-12 card">
        @foreach (TacheGet t in TachesTerminees)
        {
            <div class="bg-success">
                @t.NomTache
                <button class="btn btn-info" type="button" @onclick="@(() => Navigation.NavigateTo($"/DetailTache/{t.IdTache}"))">Détail</button>

            </div>
        }
    </div>
</div>
